@font-face {
  font-family: Rokkit;
  src: url("../font/Rokkitt.otf");
}
body {
  padding: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #369;
}
a:hover {
  color: #4c99e5;
}
h3 {
  text-align: center;
}
.text {
  color: #369;
  font-family: Rokkit;
}
.center {
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 850px;
}
.loading {
  padding: 30px;
  font-size: 20px;
}
.loading div {
  margin-bottom: 20px;
}
.logo img {
  width: 50%;
}
.mBottom {
  margin-bottom: 5px;
}
.milestone-wrapper {
  margin-left: 30px;
  display: inline-block;
}
.milestone-text {
  display: inline-block;
  max-width: 80px;
  width: 21%;
  vertical-align: middle;
}
.plug {
  text-align: center;
  margin: 40px 0 40px;
}
.plug img {
  width: 100%;
}
.double-pane.marginTop {
  margin-top: 40px;
}
.double-pane.marginBottom {
  margin-bottom: 100px;
}
.double-pane.solarize-btns {
  margin-top: 13%;
}
.double-pane.share-invite {
  margin-top: 100px;
}
.img-click:hover {
  cursor: pointer;
}
.first-pane {
  display: inline-block;
  width: 47%;
}
.second-pane {
  display: inline-block;
  width: 46%;
  float: right;
  font-size: 24px;
}
.second-pane.right {
  text-align: right;
}
.opening-paragraph {
  font-size: 24px;
}
.arrow {
  float: right;
  margin-top: 25px;
}
.fb-title {
  font-size: 30px;
}
.fb-login-btn {
  width: 90%;
  height: 60px;
  margin-top: 30px;
}
.fb-login-btn:hover {
  cursor: pointer;
}
.title {
  font-size: 30px;
}
.body {
  margin: 25px 0 25px;
  font-size: 22px;
}
.spacing {
  line-height: 200%;
}
.body-small {
  margin: 25px 0 25px;
  font-size: 16px;
}
.top {
  float: right;
}
.top:hover {
  cursor: pointer;
}
.fb-event {
  width: 300px;
  margin-top: 25px;
}
.all-alerts {
  position: fixed;
  top: 35%;
  left: 40%;
}
.comma {
  margin-top: 24px;
}
.num-wrapper {
  margin: 0 10px 0 10px;
}
.options {
  margin: 20px 20px 20px 20px;
}
.company-wrapper img {
  width: 100%;
}
.solarized-examples {
  margin-bottom: 5%;
  position: relative;
  width: 851px;
  height: 315px;
}
.solarized-examples .profile-pic {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 4px solid #fff;
  border-radius: 2px;
  left: 17px;
  top: 175px;
}
.solarized-examples .cover-pic {
  height: auto;
}
.solarized-examples .leftyellowarrow {
  position: absolute;
  bottom: -35%;
  left: 8%;
  width: 8%;
}
.solarized-examples .rightyellowarrow {
  position: absolute;
  bottom: -35%;
  right: 50px;
  width: 8%;
}
.fb_iframe_widget {
  width: 100%;
}
.center {
  text-align: center;
}
.steps {
  margin-left: 75px;
}
.small-text {
  margin: 15px 0 15px 0;
  font-size: 14px;
}
.company-logo {
  width: 17%;
  display: inline-block;
  margin: 10px;
}
