@font-face {
  font-family: Rokkit;
  src: url("../font/Rokkitt.otf");
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h3 {
  text-align: center;
}
.text {
  color: #2649af;
  font-family: Rokkit;
}
.center {
  text-align: center;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
}
.loading {
  padding: 30px;
  font-size: 20px;
}
.loading div {
  margin-bottom: 20px;
}
.solarize img {
  width: 200px;
}
.mBottom {
  margin-bottom: 5px;
}
.milestone-wrapper {
  margin-left: 30px;
}
.milestone-text {
  display: inline-block;
  width: 110px;
  vertical-align: middle;
}
.plug {
  text-align: center;
  margin: 50px 0 50px;
}
.plug img {
  width: 1000px;
}
.double-pane {
  height: 200px;
}
.double-pane.marginTop {
  margin-top: 40px;
}
.double-pane.big-box {
  height: 400px;
}
.first-pane {
  display: inline-block;
  width: 450px;
}
.second-pane {
  display: inline-block;
  width: 450px;
  float: right;
  font-size: 24px;
}
.arrow {
  float: right;
  margin-top: 25px;
}
.fb-title {
  font-size: 38px;
}
.fb-login-btn {
  width: 415px;
  height: 75px;
  margin-top: 30px;
}
.fb-login-btn:hover {
  cursor: pointer;
}
.title {
  width: 800px;
  font-size: 40px;
}
.body {
  margin: 25px 0 25px;
  font-size: 24px;
}
.spacing {
  line-height: 200%;
}
.body-small {
  margin: 25px 0 25px;
  font-size: 16px;
}
.top {
  float: right;
}
.top:hover {
  cursor: pointer;
}
.solarization-right {
  float: right;
  width: 300px;
  text-align: center;
}
.solarization-right button {
  margin-top: 10px;
}
.fb-event {
  width: 300px;
  margin-top: 25px;
}
.all-alerts {
  position: fixed;
  top: 0;
}
.comma {
  margin-top: 24px;
}
.num-wrapper {
  margin: 0 10px 0 10px;
}
